*{
    font-family: sans-serif;
}

body {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

figure{
    background-color: rgb(204, 203, 203);
    text-align: center;
    padding: 15px;
    margin: 30px;
    border: 1px solid black;
}

figcaption {
    margin-top: 10px;
}

.imgAboutMe {
    width: 275px;
    float: right;
}

figure img{
    width: 100%;
}

